@import "./draggable.scss";

@import "./icons/style.css";

$--border-color-base: #363636;

$--timeline-indicator-color: #c0bd04;
$--timeline-indicator-z-index: 50;

$--item-bg: #3d3d3d;
$--item-color: #bbbbbb;
$--item-height: 28px;
$--item-font-size: 0.8rem;

$--item-expanded-bg: #4b4b4b;
$--item-expanded-toggle: #bbbbbb;

.va-timeline-component {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.va-layer {
  &__wrapper {
    border-right: 1px solid $--border-color-base;
  }

  &__toolbar {
    width: 100%;
    height: 32px;
    background-color: rgb(255, 50, 50);
  }

  &__item {
    display: flex;
    align-items: center;
    height: $--item-height;
    color: $--item-color;
    background-color: $--item-bg;
    border-bottom: 1px solid $--border-color-base;
    position: relative;

    .text {
      font-size: $--item-font-size;
      line-height: $--item-font-size;
    }

    .icon {
      cursor: grab;
      margin: 0 0.5rem;
      font-size: $--item-font-size;

      &:active {
        cursor: grabbing;
      }
    }
  }
}
.va-timeline {
  &__wrapper {
    flex: 1;
  }

  &__ruler {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 32px;
    background-color: rgb(89, 91, 247);
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__indicator {
    &__caret {
      position: absolute;
      z-index: $--timeline-indicator-z-index;
      bottom: 0;
      transform: translate(-50%, 3px) rotate(180deg);
      color: $--timeline-indicator-color;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    &__line {
      user-select: none;
      position: absolute;
      z-index: $--timeline-indicator-z-index;
      top: 0;
      width: 1px;
      height: 100px;
      transform: translateX(-50%);
      background-color: $--timeline-indicator-color;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: $--item-height;
    color: $--item-color;
    background-color: $--item-bg;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $--border-color-base;

    .text {
      font-size: $--item-font-size;
      line-height: $--item-font-size;
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }
}
.va-expanded {
  &__wrapper {
    background-color: $--item-expanded-bg;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: $--item-height;
    color: $--item-color;
    border-bottom: 1px solid $--border-color-base;
    padding-left: 1.5rem;

    .text {
      font-size: $--item-font-size;
      line-height: $--item-font-size;
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }
  &__toggle {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%) scale(0.6);
    transition-duration: 300ms;
    color: $--item-expanded-toggle;
    user-select: none;
    cursor: pointer;

    &.va__active {
      transform: translate(-50%, -50%) scale(0.6) rotate(180deg);
    }
  }
}
